/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.cdnfonts.com/css/mona-sans');
@import url('https://fonts.cdnfonts.com/css/asmeralka');
@import url('https://fonts.cdnfonts.com/css/source-serif-pro');

body {
    background-color: #f8f7f4;
}

.body-content-section {
    /*display: flex;*/
    /*justify-content: center;*/
}

.navbar {
    width: 100%;
    height: 4em;
    background-color: #f8f7f4;;
    margin-bottom: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.left-navbar-side {
    display: inline-block;
    vertical-align: middle;
    padding-right: 28.5em;
}

.right-navbar-side {
    display: inline-block;
    vertical-align: middle;
    padding-left: 21.5em;
    padding-right: 3em;
}

.mid-navbar-side {
    display: inline-block;
    vertical-align: middle;
}

.navbar-element {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    color: #0d0c22;
    margin-right: 0.5em;
    font-family: 'Mona-Sans', sans-serif;
    transition: color;
}

.navbar-element:hover {
    transition-duration: 0.6s;
    color: #4b4b52;
}

.navbar-logo {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: #0d0c22;
    margin-right: 0.5em;
    font-family: 'Asmeralka', sans-serif;
    transition: color;
}

.navbar-logo:hover {
    transition-duration: 0.6s;
    color: #f8b2ee;
}

.navbar-search {
    border: none;
    border-radius: 4em;
    padding: 20px;
    margin-right: 2em;
    background-color: #ffffff;
    width: 20em;
    height: 3.8em;
    color: #0d0c22;
    font-family: 'Mona-Sans', sans-serif;
}

.navbar-search:focus {
    outline: none;
}

.navbar-sing-in-btn {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bolder;
    color: #0d0c22;
    margin-right: 0.5em;
    font-family: 'Mona-Sans', sans-serif;
}

.navbar-register-btn {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bolder;
    color: #ffffff;
    margin-right: 0.5em;
    background-color: #0d0c22;
    border-radius: 3em;
    padding: 18px 23px 18px 23px;
    font-family: 'Mona-Sans', sans-serif;
    transition: background-color;
}

.navbar-register-btn:hover {
    transition-duration: 0.6s;
    background-color: #4b4b52;
}

.navbar-logout-btn {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bolder;
    color: #ffffff;
    margin-left: 25em;
    background-color: #0d0c22;
    border-radius: 3em;
    padding: 18px 23px 18px 23px;
    font-family: 'Mona-Sans', sans-serif;
    transition: background-color;
}

.navbar-logout-btn:hover {
    cursor: pointer;
    transition-duration: 0.6s;
    background-color: #4b4b52;
}

/*INTRO PART SECTION*/

.intro-section {
    margin: 6em 0 4em 0;
}

.intro-phrase-div {
    margin-bottom: 1em;
}

.new-shot-intro-btn {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: inherit;
    color: #0d0c22;
    background-color: #f8b2ee;
    border-radius: 3em;
    padding: 10px 23px 10px 23px;
    font-family: 'Mona-Sans', sans-serif;
    transition: background-color;
}

.new-shot-intro-btn:hover {
    transition-duration: 1s;
    background-color: #ffda79;
}

.opening-div {
    margin-bottom: 3em;
    width: 50em;
}

.opening-phrase {
    font-size: 4.5em;
    font-weight: unset;
    color: #0d0c22;
    margin-bottom: -1px;
    font-family: 'Source Serif Pro', sans-serif;
}

.opening-paragraph {
    font-size: 1.1em;
    color: #0d0c22;
    font-family: 'Mona-Sans', sans-serif;
}

.get-started-div {
    margin-bottom: 8em;
}

.get-started-btn {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bolder;
    color: #ffffff;
    margin-right: 0.5em;
    background-color: #0d0c22;
    border-radius: 3em;
    padding: 23px 20px 23px 20px;
    font-family: 'Mona-Sans', sans-serif;
    transition: background-color;
}

.get-started-btn:hover {
    transition-duration: 0.6s;
    background-color: #4b4b52;
}

/* DEVISE */

/*LOGIN PAGE*/

.login-div {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #f8f7f4;
}

.left-login-part {
    background: url("https://4kwallpapers.com/images/walls/thumbs_v/1386.jpg");
    width: 30%;
    height: 60em;
    background-size: contain;
    border-radius: 2em;
}

.right-login-part {
    width: 79%;
    height: 100%;
    background-color: #f8f7f4;
    padding: 10em 0 10em 0;
}

.login-container {
    margin: 10em 0 0 -50em;
    display: inline;
    justify-content: flex-start;
}
.login-phrase {
    font-size: 1.5em;
    font-weight: bold;
    color: #0d0c22;
    font-family: 'Mona-Sans', sans-serif;
    margin-bottom: 2em;
}

.google-login-dev {
    border-color: #BBBBBB;
    border-style: solid;
    border-width: thin;
    border-radius: 3em;
    padding: 20px;
    background-color: #f8f7f4;
    width: 20em;
    height: 1em;
    margin-bottom: 2em;
    transition: border-color;
}

.google-login-dev:hover {
    transition-duration: 0.6s;
    cursor: pointer;
    border-color: #f8b2ee;
}

.google-sign-in-btn {
    text-decoration: none;
    color: #0d0c22;
    font-weight: inherit;
    font-size: 0.9em;
    padding-left: 10px;
    font-family: 'Mona-Sans', sans-serif;
}

.line-separator {
    display: inline-block;
    width: 10em;
    height: 1px;
    border: none;
    color: #BBBBBB;
    background-color: #BBBBBB;
}

.separator-phrase {
    color: #BBBBBB;
    font-size: 0.9em;
    display: inline-block;
}

.form-inputs {
    padding: 20px;
    margin: 1em 0 1em 0;
}

.form-actions {
    margin-bottom: 1em;
}

.form-label {
    color: #0d0c22;
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 20px;
    font-family: 'Mona-Sans', sans-serif;
}

.input-field {
    padding: 10px;
    margin: 20px 0 20px 0;
    border-color: #BBBBBB;
    border-style: solid;
    border-width: thin;
    border-radius: 1em;
    background-color: #f8f7f4;
    width: 30em;
    height: 3em;
}

.input-field:focus {
    outline: #f8b2ee;
    border-color: rgba(224, 131, 255, 0.93);
}

.sign-in-btn {
    padding: 20px 0 30px 0;
    border-radius: 3em;
    background-color: #0d0c22;
    width: 23em;
    height: 2em;
    color: #f8f7f4;
    font-weight: bold;
    font-size: 0.9em;
    font-family: 'Mona-Sans', sans-serif;
    transition: background-color;
}

.sign-in-btn:hover {
    transition-duration: 0.6s;
    background-color: #f8b2ee;
    cursor: pointer;
}

/* REGISTER */

.signup-div {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #f8f7f4;
}

.left-signup-part {
    background: url("https://4kwallpapers.com/images/walls/thumbs_3t/1388.jpg");
    width: 30%;
    height: 60em;
    background-size: cover;
    border-radius: 2em;
}

.back-icon-div {
    margin-left: 28em;
    margin-top: 5em;
    display: none;
}

.back-icon-div:hover {
    cursor: pointer;
}

.right-signup-part {
    width: 79%;
    height: 100%;
    background-color: #f8f7f4;
    padding: 10em 0 10em 0;
}

.signup-container {
    margin: 10em 0 0 -50em;
    display: inline;
    justify-content: flex-start;
}
.signup-phrase {
    font-size: 1.5em;
    font-weight: bold;
    color: #0d0c22;
    font-family: 'Mona-Sans', sans-serif;
    margin-bottom: 2em;
}

.google-signup-dev {
    border-color: #0d0c22;
    border-style: solid;
    border-width: thin;
    border-radius: 3em;
    padding: 20px;
    background-color: #0d0c22;
    width: 20em;
    height: 1em;
    margin-bottom: 2em;
    transition: border-color;
}

.google-signup-dev:hover {
    transition-duration: 0.6s;
    cursor: pointer;
    border-color: #f8b2ee;
}

.google-sign-up-btn {
    text-decoration: none;
    color: #f8f7f4;
    font-weight: inherit;
    font-size: 0.9em;
    padding-left: 10px;
    font-family: 'Mona-Sans', sans-serif;
}

.email-signup-dev {
    padding: 0 20px 0 0;
}

.email-sign-up-btn {
    border-color: #BBBBBB;
    border-style: solid;
    border-width: thin;
    border-radius: 3em;
    padding: 20px;
    background-color: #f8f7f4;
    width: 25em;
    height: 4.2em;
    margin: 2em 0 0 2em;
    color: #0d0c22;
    font-weight: bold;
    font-size: 0.9em;
    font-family: 'Mona-Sans', sans-serif;
    transition: border-color;
}

.email-sign-up-btn:hover {
    cursor: pointer;
    border-color: #f8b2ee;
}


.line-separator {
    display: inline-block;
    width: 10em;
    height: 1px;
    border: none;
    color: #BBBBBB;
    background-color: #BBBBBB;
}

.separator-phrase {
    color: #BBBBBB;
    font-size: 0.9em;
    display: inline-block;
}

.sign-up-form-inputs {
    padding: 20px;
    margin: 1em 0 1em 0;
    display: none;
}

.sign-up-form-actions {
    margin-bottom: 1em;
    display: none;
}

.form-label {
    color: #0d0c22;
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 20px;
    font-family: 'Mona-Sans', sans-serif;
}

.input-field {
    padding: 10px;
    margin: 20px 0 20px 0;
    border-color: #BBBBBB;
    border-style: solid;
    border-width: thin;
    border-radius: 1em;
    background-color: #f8f7f4;
    width: 30em;
    height: 3em;
}

.input-field:focus {
    outline: #f8b2ee;
    border-color: rgba(224, 131, 255, 0.93);
}

.sign-up-btn {
    padding: 20px 0 30px 0;
    border-radius: 3em;
    background-color: #0d0c22;
    width: 23em;
    height: 2em;
    color: #f8f7f4;
    font-weight: bold;
    font-size: 0.9em;
    font-family: 'Mona-Sans', sans-serif;
    transition: background-color;
}

.sign-up-btn:hover {
    transition-duration: 0.6s;
    background-color: #f8b2ee;
    cursor: pointer;
}

.agreement-phrase-div {
    margin-top: 4em;
}

.agreement-phrase {
    font-size: 0.8em;
    width: 38em;
    color: #0d0c22;
    font-family: 'Mona-Sans', sans-serif;
}

.terms-link, .privacy-link, .notification-link {
    font-size: 1em;
    color: #0d0c22;
    font-family: 'Mona-Sans', sans-serif;
    transition: color;
}

.terms-link:hover, .privacy-link:hover, .notification-link:hover {
    transition-duration: 0.6s;
    color: #BBBBBB;
}

/* SHARED LINKS */
.shared-links-phrase {
    font-size: 0.9em;
    color: #0d0c22;
    font-family: 'Mona-Sans', sans-serif;
}

.shared-links-action {
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    color: #0d0c22;
    font-family: 'Mona-Sans', sans-serif;
    transition: color;
}

.shared-links-action:hover {
    transition-duration: 0.6s;
    color: #BBBBBB;
}

/* SHOTS */

.user-shot-input {
    visibility: hidden;
}

.drop-zone-div {
    padding: 50px 0 0 0;
    border-color: #BBBBBB;
    border-style: dashed;
    width: 30em;
    height: 5em;
    color: #0d0c22;
    font-family: 'Mona-Sans', sans-serif;
    font-size: 1em;
}

.input-field-text {
    padding: 10px;
    margin: 20px 0 20px 0;
    border-color: #BBBBBB;
    border-style: solid;
    border-width: thin;
    border-radius: 1em;
    background-color: #f8f7f4;
    min-width: 33em;
    min-height: 10em;
    max-width: 50em;
    max-height: 20em;
}

.input-field-text:focus {
    outline: #f8b2ee;
    border-color: rgba(224, 131, 255, 0.93);
}

.create-shot-btn {
    padding: 20px 0 30px 0;
    border-radius: 3em;
    background-color: #0d0c22;
    width: 23em;
    height: 2em;
    margin: 2em 0 1em 0;
    color: #f8f7f4;
    font-weight: bold;
    font-size: 0.9em;
    font-family: 'Mona-Sans', sans-serif;
    transition: background-color;
}

.create-shot-btn:hover {
    transition-duration: 0.6s;
    background-color: #f8b2ee;
    cursor: pointer;
}

.new-shot-title {
    font-size: 3em;
    font-weight: 100;
    color: #0d0c22;
    font-family: 'Mona-Sans', sans-serif;
    margin-bottom: 2em;
}


.new-shot-title-span {
    font-size: 1em;
    font-weight: bold;
    color: #f8b2ee;
    font-family: 'Asmeralka', sans-serif;
    margin: 0 5px 0 5px;
}

.back-to-shots-link {
    font-size: 1em;
    font-weight: 300;
    font-family: 'Mona-Sans', sans-serif;
    color: #0d0c22;
    text-decoration: none;
    transition: color;
}

.back-to-shots-link:hover {
    transition-duration: 0.6s;
    color: #BBBBBB;
}

.edit-shot-display-div, .show-shot-display-div {
    margin-bottom: 2em;
}

.shot-link {
    text-decoration: none;
    font-weight: 200;
    font-size: 1em;
    color: #0d0c22;
    font-family: 'Mona-Sans', sans-serif;
    transition: color, font-weight;
}

.shot-link:hover {
    transition-duration: 0.6s;
    color: #f8b2ee;
    font-weight: 400;
}

.index-separator-div {
    background-color: #ffda79;
    width: 100%;
    height: 20em;
}

.explore-designs-title {
    font-size: 2.8em;
    font-weight: 400;
    font-family: 'Alkaline', sans-serif;
    color: #0d0c22;
    margin: 2em 0 1em 0;
}