<center>
  <section class="intro-section">
    <div class="intro-phrase-div">
      <%= link_to "Over 3 million ready-to-work creatives!", new_shot_path, class: "new-shot-intro-btn"%>
    </div>

    <div class="opening-div">
      <h1 class="opening-phrase">
        The world’s destination for design
      </h1>

      <p class="opening-paragraph">
        Get inspired by the work of millions of top-rated designers & agencies around the world.
      </p>
    </div>

    <div class="get-started-div">
      <%= link_to "Get started", new_shot_path, class: "get-started-btn"%>
    </div>

  </section>
</center>